body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 85.60mm;
  height: 53.98mm;
  border-radius: 3mm;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
}

.card-logo {
  align-self: flex-end;
}

.card-logo>svg {
  width: auto;
  height: 5mm;
}

.card-text {
  margin: 1rem 0;
  text-align: center;
}

.card-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;

  font-size: 0.8rem;
}

.card-info__element {
  text-align: right;
}

.card-info__element + .card-info__element {
  margin-left: 1rem;
}

.card-info__element-title {
  font-size: 0.6em;
  opacity: 0.5;
}

.card-info__element--cardholder {
  flex-grow: 1;
  text-align: left;
}
